body {
  padding: 0;
  margin: 0;
}

.app-container {
  .header-container {
    .navbar-nav {
      .nav-link {
        // class active dung ngang hang voi nav-link
        &.active {
          color: red;
        }
      }
    }
  }
}